<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>服务器续费通知</h1>
<h3>续费链接:</h3>
<%= link_to '腾讯云','https://www.qcloud.com/act/campus?fromSource=qcloud.70.70.70'%>

</body>
</html>